Repository boostcamp-2020/IssueTracker-25, pull requests merged in 2020-11, with the labels that each got.

#69 Feat: Dropdown 컴포넌트 구현
  front/src/components/DropDown.js
Labels: 🌈 Feat, 💚 Front

#70 모델 생성 시, 초기 데이터 설정하기.
  server/src/app.js
  server/src/libs/seeders/comment.js
  server/src/libs/seeders/index.js
  server/src/libs/seeders/issue.js
  server/src/libs/seeders/label.js
  server/src/libs/seeders/milestone.js
  server/src/libs/seeders/num-model-data.js
  server/src/libs/seeders/user.js
  server/src/libs/utils.js
  server/src/models/comment.js
  server/src/models/issue.js
  server/src/models/label.js
  server/src/models/milestone.js
  server/src/models/user.js
Labels: 💜 Back

#75 Feat: Login 화면 컴포넌트 구현 및 프론트 API_BASE_URL 환경 변수 추가
  front/src/apis/axios.js
  front/src/routes/Login/LoginPage.js
  front/webpack.config.js
Labels: 🌈 Feat, 💚 Front

#81 get /labels api 구현 및 라벨 모델에서 timestamps 제거
  server/src/models/label.js
  server/src/routes/index.js
  server/src/routes/label.js
  server/src/routes/label/index.js
  server/src/routes/label/label-controller.js
  server/src/routes/label/label-controller.test.js
  server/src/services/label.js
Labels: 🌈 Feat, 💜 Back

#131 Issue seeder 코드 수정
  server/src/libs/seeders/issue.js
Labels: ✨ Refactoring

#130 이슈 생성 컴포넌트 및 모델 생성
  front/src/components/commons/ArrowContainerStyle.js
  front/src/components/commons/ArrowHeader.js
  front/src/components/commons/CustomInput.js
  front/src/components/commons/SidebarLayout/index.js
  front/src/components/commons/buttons/CustomButton.js
  front/src/components/issue/detail/body/Comment.js
  front/src/components/issue/new/Content.js
  front/src/components/issue/new/index.js
  front/src/hooks/useSidebar.js
  front/src/models/issue/new/index.js
  front/src/routes/MainPageTemplate/index.js
Labels: 💚 Front

#160 Feat: 이슈 제목 수정
  front/src/apis/issue.js
  front/src/components/commons/Header.js
  front/src/components/commons/issue/IssueHeaderInfo.js
  front/src/components/commons/issue/IssueStateIcon.js
  front/src/components/issue/detail/header/index.js
  front/src/components/issue/edit/header/index.js
  front/src/models/issue/detail/action-type.js
  front/src/models/issue/detail/actions.js
  front/src/models/issue/detail/index.js
  front/src/models/issue/detail/reducer.js
  server/src/services/issue/index.js
Labels: 💚 Front

#167 Feat: 이슈 제목 수정 및 내용 수정
  front/src/GlobalStyled.js
  front/src/apis/issue.js
  front/src/components/commons/Header.js
  front/src/components/commons/MarkdownViewer.js
  front/src/components/commons/buttons/theme.js
  front/src/components/commons/issue/IssueHeaderInfo.js
  front/src/components/commons/issue/IssueStateIcon.js
  front/src/components/icons/ClosedIcon.js
  front/src/components/issue/detail/body/Comment.js
  front/src/components/issue/detail/body/index.js
  front/src/components/issue/detail/footer/CommentInput.js
  front/src/components/issue/detail/footer/index.js
  front/src/components/issue/detail/header/index.js
  front/src/components/issue/detail/index.js
  front/src/components/issue/edit/body/index.js
  front/src/components/issue/edit/header/index.js
  front/src/components/issue/edit/index.js
  front/src/models/issue/detail/action-type.js
  front/src/models/issue/detail/actions.js
  front/src/models/issue/detail/index.js
  front/src/models/issue/detail/reducer.js
  front/src/models/markdown-editor/index.js
Labels: 💚 Front

#170 Fix: 페이지네이션 후, 전체 체크박스 해제
  front/src/models/issue/detail/index.js
  front/src/models/issue/list/reducer.js
Labels: 💚 Front, 🚨 Bug
