Repository boostcamp-2020/IssueTracker-25, pull requests merged in 2020-10, with the labels that each got.

#24 등록 컴포넌트
  front/package.json
  front/public/index.html
  front/src/components/NewButton.js
  front/src/components/color.js
  front/webpack.config.js
Labels: feature, front

#27 Feat: 페이지 이동 버튼 컴포넌트
  front/src/components/MovePageButton.js
Labels: feature, front

#31 Feat : issue 더미 api 생성
  server/src/app.js
  server/src/route/index.js
  server/src/route/issue.js
  server/src/service/dumy.json
  server/src/service/issue.js
Labels: back, doc

#33 Feat: CustomButton 추가, ColorStyle 추가
  front/src/components/ColorStyle.js
  front/src/components/CustomButton.js
Labels: feature, front

#34 이슈 리스트 페이지에서 서버에 api 요청 및 useReducer로 상태 관리
  front/.eslintrc.js
  front/package.json
  front/src/App.js
  front/src/apis/axios.js
  front/src/apis/issue.js
  front/src/components/ListHeader.js
  front/src/components/color.js
  front/src/routes/IssueList/IssueListContainer.js
  front/src/routes/IssueList/IssueListPage.js
  front/src/routes/IssueList/issueAction.js
  front/src/routes/IssueList/issueHook.js
  server/README.md
  server/src/app.js
  server/src/route/index.js
  server/src/route/issue.js
  server/src/service/dumy.json
  server/src/service/issue.js
Labels: feature, front

#39 Issue Filter 컴포넌트 추가 & 이슈 체크박스 버그 수정
  front/.eslintrc.js
  front/package.json
  front/public/index.html
  front/src/App.js
  front/src/apis/issue.js
  front/src/components/Header.js
  front/src/components/ListHeader.js
  front/src/components/NewButton.js
  front/src/components/UserProfile.js
  front/src/components/color.js
  front/src/libs/utils.js
  front/src/libs/utils.test.js
  front/src/routes/IssueList/IssueFilterContainer.js
  front/src/routes/IssueList/IssueListContainer.js
  front/src/routes/IssueList/IssueListPage.js
  front/src/routes/IssueList/issueHook.js
  server/src/service/dumy/issueList.json
Labels: bug, feature, front
